@import url('https://fonts.googleapis.com/css2?family=Roboto:100,200,300,400,500,600,700');

html, body {
    height:100%;
     font-family: "Roboto", sans-serif;
     margin: 0;
     padding: 0;
} 

/*--------------------------------------------Colors*/

/* #e35b17 RGB(227, 91, 23) orange red color*/
/* #7d7d7d RGB(125, 125, 125) light greyish colour*/

/*--------------------------------------------Header*/

.banner {
    height: 40px;
    background-color: #e35b17;
    color: #fafafa;
    padding: 10px 10px;
    clear: both;
}

.banner p {
    text-align: center;
    font-weight: 400;
} 

.banner-phone {
    text-align: left; 
    margin: 0;
    padding: 0;
}

.banner-opening {
    text-align: right; 
    margin: 0;
    padding: 0;
}

.logo h1 {
    font-weight: 700;
    font-size: 50px;
    padding: 10px 0 10px 10px;
    text-decoration: none;
    font-size: 50px;
    background: -webkit-linear-gradient(#e35b17, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo a:hover {
    text-decoration: none;
}


#navbarNav {
    text-align: left;
}

.nav-link {
    font-size: 22px;
}

.navbar-toggler { 
    margin: 0 auto; 
}



/*Photo by The Photo by Jonathan Borba from Pexels from Pexels*/

.heading-container {
    height: 80vh;
    background: url('/assets/images/hero-image.jpg') no-repeat center top scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.heading-container-classes {
    height: 80vh;
    background: url('/assets/images/classes.jpg') no-repeat right center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.heading-container-membership {
    height: 80vh;
    background: url('/assets/images/membership.jpg') no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.opaque-overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: relative;
}


.logo-container {
    background: transparent;
}

.social-links {
    height: 132px;
    width: 44px; 
    border-radius: 12px;
    background-color: #e35b17;
    position: absolute;
    right: 0;
    top: 270px;
    margin-right: 2px;
    padding: 0;
    z-index: 5;
}

.social-links ul {
    list-style-type: none;
    padding-right: 0;
    margin: 0;
    padding-inline-start: 0;

}

.list-block-item a i {
    color: #fff;
    font-size: 26px;
    padding: 10px;
}

.jumbotron {
    display: block;
    text-align: center;
    justify-content: center;
    background: transparent;
    position: absolute;
    right: 0;
    left: 0;
    top: 370px;
    color: #fafafa;
}

.jumbotron-line {
    width: 400px;
    border: 1px solid #e35b17;
}

.btn-sign-up {
    background-color: #e35b17;
    color: #fafafa;
}

.btn-custom {
    background-color: #e35b17;
    color: #fafafa;
}

.heading-title {
    width: 100%
}
.heading-title h1 {
    color: #fafafa;
    font-size: 60px;
    position: absolute;
    bottom: 220px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
   

}



/*--------------------------------------------Main*/

main {
    overflow: hidden;
}

.reasons-container {
    height: 800px; 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('/assets/images/section.jpg') no-repeat top center fixed;
      -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}


.feature {
    height: 170px;
    width: 100%;
    border-radius: 15px;
    background-color: #7d7d7d;
    color: #fafafa;
    border: 2px solid #e35b17;
    z-index: 2;
    margin: 5px;
    margin: 1rem 1rem;
    padding: 10px;
}

.feature h3 {
    font-weight: 500;
    text-align: center;
    padding-top: 5px;
}

.feature p {
    font-weight: 300;
    padding: 5px;
}

.feature-line {
    width: 30%;
    border: 3px solid #fafafa;
    border-radius: 3px;
}

.circle {
    height: 55%;
    width: 40%;
    border: 2px solid #e35b17;
    border-radius: 250px;
    background-color: rgba(0,0,0,0.1);
    position: absolute;
}

/*--------------------------------------------Quotes*/

.testimonial-title {
    width: 100%;
    font-size: 50px;
    letter-spacing: 2px;
    text-align: center; 
    padding: 15px;
    margin-top: 50px;
}

.testimonial-line {
    width: 340px;
    border: 1px solid #e35b17;
}

.quotes-container {
    height: 100%; 
    width: 100%;
    margin-left: 30px;
    margin-right: 30px;
}

.quotes {
    height: 100%;
    width: 100%;
    padding: 20px;
    display: flex;
    
}

.quote-img {
    border-radius: 25px;
    float: left;
}

.quote-name {
width: 90%;
height: 100%;
padding: 20px;

}
.quote-name h4 {
    text-align: center;
}


.transport-type {
    height: 120px;
    padding: 10px 30px 10px 20px;
}

iframe {
    border: 0;
}
/*--------------------------------------------Contact*/

.contact {
    width: 100%;
    height: 100%;
    margin: 20px 10px;
    padding: 10px;

}

.info {
    text-align: left;
}

.info ul li {
    list-style-type: none;
    margin-left: -40px;
    padding-top: 10px;
}

.info h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.fa-map-pin {
    color: #e35b17;
}

/*--------------------------------------------About Us*/

.our-members-container {
    width: 100%;
    height: 100%;
    margin: 20px 10px;
    padding: 10px;
}

.awards,
.story {
    padding: 10px;
    border-radius: 5px;
}

.demographics-container {
    width: 100%;
    height: 100%;
    margin: 20px 10px;
    padding: 10px;
}

.demographics-heading {
    text-align: center;
    margin-bottom: 40px;
}

.gender {
    width: 95%;
    margin-top: 10px;
}  

.demographics-container h4 {
    width: 250px;
    font-size: 20px;
    margin: auto;
    text-align: center;
}

.about-cards-container {
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
    padding: 5px;
    margin: 40px 0 40px 0;
}

.about-cards {
    border: 1px solid #7d7d7d;
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(125,125,125,0.3);
}

.about-cards-holder {
    border: 1px solid #7d7d7d;
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(125,125,125,0.3);
}

.about-line {
    width: 50%;
    border: 1px solid #e35b17;
}

.about-cards h5 {
    text-align: center;
}

/*--------------------------------------------Footer*/

.footer-menu-container {
    background: #e35b17;
    overflow: hidden;
}

.footer-menu-name {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 20px;
    padding: 10px;
    color: #fafafa;
    text-align: center;
    
}

.footer-list-menu,
.footer-list-membership,
.footer-list-legal {
    list-style-type: none;
    padding-inline-start: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    padding: 10px;
    text-align: center;
}

.footer-list-menu a,
.footer-list-membership a,
.footer-list-legal a {
    color: #fafafa;
}

.footer-list-menu a {
    text-align: center;
}



.copyright p,
.registered p {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    color: #fafafa;
}