@import url('https://fonts.googleapis.com/css2?family=Roboto:100,200,300,400,500,600,700');

html, body {
    height:100%;
     font-family: "Roboto", sans-serif;
     margin: 0;
     padding: 0;
} 

/*--------------------------------------------Colors*/

/* #e35b17 RGB(227, 91, 23) orange red color*/
/* #7d7d7d RGB(125, 125, 125) light greyish colour*/

/*--------------------------------------------Header*/

.banner {
    height: 40px;
    background-color: #e35b17;
    color: #fafafa;
    padding: 10px 10px;
    clear: both;
}

.banner p {
    text-align: center;
    font-weight: 400;
} 

.banner-phone {
    text-align: left; 
    margin: 0;
    padding: 0;
}

.banner-opening {
    text-align: right; 
    margin: 0;
    padding: 0;
}

.logo h1 {
    font-weight: 700;
    font-size: 50px;
    padding: 10px 0 10px 10px;
    text-decoration: none;
    font-size: 50px;
    background: -webkit-linear-gradient(#e35b17, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo a:hover {
    text-decoration: none;
}


#navbarNav {
    text-align: left;
}

.nav-link {
    font-size: 22px;
}



/*Photo by The Photo by Jonathan Borba from Pexels from Pexels*/

.heading-container {
    height: 80vh;
    background: url('/assets/images/hero-image.jpg') no-repeat center top scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    position: relative;
}

.opaque-overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: relative;
}


.logo-container {
    background: transparent;
}

.social-links {
    height: 132px;
    width: 44px; 
    border-radius: 12px;
    background-color: #e35b17;
    position: fixed;
    right: 0;
    top: 270px;
    margin-right: 2px;
    padding: 0;
    z-index: 5;
}

.social-links ul {
    list-style-type: none;
    padding-right: 0;
    margin: 0;
    padding-inline-start: 0;

}

.list-block-item a i {
    color: #fff;
    font-size: 26px;
    padding: 10px;
}

.jumbotron {
    display: block;
    text-align: center;
    justify-content: center;
    background: transparent;
    position: absolute;
    right: 0;
    left: 0;
    top: 370px;
    color: #fafafa;
}

.jumbotron-line {
    width: 30%;
    border: 1px solid #e35b17;
}

.btn-sign-up {
    background-color: #e35b17;
    color: #fafafa;
}

/*--------------------------------------------Main*/

main {
    overflow: hidden;
}

.reasons-container {
    height: 800px; 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('/assets/images/section.jpg') no-repeat top center;
      -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}


.feature {
    height: 170px;
    width: 100%;
    border-radius: 15px;
    background-color: #7d7d7d;
    color: #fafafa;
    border: 2px solid #e35b17;
    z-index: 2;
    margin: 5px;
    margin: 1rem 1rem;
    padding: 10px;
}

.feature h3 {
    font-weight: 500;
    text-align: center;
    padding-top: 5px;
}

.feature p {
    font-weight: 300;
    padding: 5px;
}

.feature-line {
    width: 30%;
    border: 3px solid #fafafa;
    border-radius: 3px;
}

.circle {
    height: 55%;
    width: 40%;
    border: 2px solid #e35b17;
    border-radius: 250px;
    background-color: rgba(0,0,0,0.1);
    position: absolute;
}


.transport-type {
    height: 120px;
    padding: 5px 0 5px 10px;
}

iframe {
    border: 0;
}

/*--------------------------------------------Footer*/

.footer-menu-container {
    background: #e35b17;
    overflow: hidden;
}

.footer-menu-name {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 20px;
    padding: 10px;
    color: #fafafa;
    text-align: center;
    
}

.footer-list-menu,
.footer-list-membership,
.footer-list-legal {
    list-style-type: none;
    padding-inline-start: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    padding: 10px;
    text-align: center;
}

.footer-list-menu a,
.footer-list-membership a,
.footer-list-legal a {
    color: #fafafa;
}

.footer-list-menu a {
    text-align: center;
}



.copyright p,
.registered p {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    color: #fafafa;
}